.ContenedorReport{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    flex-direction: column;
    width: 540px;
    height: 550px;
    background-color: rgba(208, 234, 255, 0.555);
    border-radius: 25px;
    font-size: 30px;
}
.BodyReport{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92.3vh;
    background-color:rgba(153, 146, 255, 0.486);
}

.labelReport{
    font-size: 2rem;
}

.inputReport{
    height: 27px;
    font-size: 1.4rem;
    width: 75%;
    border-radius: 20px;
}
.textReport{
    height: 100px;
    width: 90%;
    border-radius: 20px;
}
.buttonReport{
    display: flex;
    height: 50px;
    width: 25%;
    /* justify-content: center; */
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    background-color: white;
}

.tituloReport{
    font-size: 2rem;
}