
.ChangeProfileForm{
    color:rgb(122, 118, 118);
    width:40%;
    height: 70%;
    background-color: rgb(225, 225, 238);
    border-radius: 12px;
}
.closeBtn{
    cursor: pointer;
    font-size: 22px;
    color:rgb(122, 118, 118);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:0.5px solid rgb(122, 118, 118);
    margin: 2%;
}

.EditarPerf{
    font-weight: bold;
    margin-left: 30%;
}

.btnFormEdit{
    all:unset;
    width:20px;
    height: 20px;
    background-image: url('./img/editarIcon.png');
    background-size: 20px 20px;
    cursor: pointer;
}

.btnFormEditListo{
    all:unset;
    width:80%;
    background-position: center;
    background-image: url('./img/checkIcon.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.btnFormEditListo:hover{
    width: 77%;
    background-size: 74% 74%;
}
.changeInptCont{
    
    display: grid;
    grid-template-columns: 80% 14%;
}
.descChang{
    
    margin-left: 10%;
}

.btnGuarCamb{
    all:unset;    
    background-color: rgb(24, 54, 110);
    color: white;
    width: 50%;
    margin: 20px 0px 20px 25%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    border:1px solid rgb(184, 205, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}