body{
    background-image: url("./pf_cliente.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;  
}

.Register { 
    background-color: aquamarine;
    border-radius: 20px;
    margin-top: 500px;
    width: 20rem;
    font-size: 1.5rem;
   
    justify-content: center;
    align-content: center;
}


.Photo {
     grid-area: Photo; 
}

.Tittle {
    justify-self: stretch;
    align-self: stretch;
    grid-area: Tittle;
}

.Footer {
    justify-self: stretch;
    align-self: stretch;
    grid-area: Footer;
}


.input {
      line-height: 28px;
      border: 2px solid transparent;
      border-bottom-color: #777;
      padding: .2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .input:focus, input:hover {
     outline: none;
     padding: .2rem 1rem;
     border-radius: 1rem;
     border-color: #313030;
    }
    
    .input::placeholder {
     color: #777;
    }
    
    .input:focus::placeholder {
     opacity: 0;
     transition: opacity .3s;
}