.home{
    width: 100%;
  
}
.homeDividir{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.butonFiltrosHome{
     /* width: 70px;
    height: 70px;  */

    --color: #260e4afb;
    font-family: inherit;
    display: inline-block; 
    width: 13em;
    height: 2.8em;
    /* margin: -15px -65px;
    padding: 10px 130px; */
    /* margin: 1px auto;  */
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
  

    border-radius: 5px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 2px 2px 4px black;
    cursor: pointer;

    border: transparent;
   
    text-align: center;
    line-height:1em;
    position: relative;
    /* display: inline-block; */

    /* font-weight: bold; */
    font-size: 18px;
    color: #260e4afb;
    /* background-color: transparent; */
}

.butonFiltrosHome:before{
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(96, 18, 180);
    height: 200px;
    width: 350px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all .7s;
}
.butonFiltrosHome:hover{
    color: #e8e8e8;
    border-color: #8020da ;
}
 .butonFiltrosHome:hover:before{
    top: -50px;
    left: -20px;
} 



.mostrarfiltros{
    width: 100%;
    height: 100%;    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;   
    background-repeat:no-repeat;
    background-position: center;
    background-color: rgba(0,0,0, 0.6);
    overflow-x: hidden;  

}
.nomostrarfiltros{
    width: 0%;
}

.publicidadEnElHome{
    padding: 30px;
}

.container{
    margin: 40px;
    /* background: red; */

}
.button{
   
    text-decoration: none;
    --color: #260e4afb;
    font-family: inherit;
    display: inline-block; 
    width: 13em;
    height: 2.8em;
    padding: 7px;
    margin: 1px auto; 
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
  

    border-radius: 9px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
/* button{
    border: transparent;
    cursor: pointer;
    margin: -15px -58px;
    text-align: center;
    line-height:1em;
    position: relative;
    padding: 10px 130px;
    font-weight: bold;
    font-size: 20px;
    color: #260e4afb;
} */