body{
  background-image: linear-gradient( to right, rgba(153, 146, 255, 0.486), rgba(208, 234, 255, 0.555),rgba(211, 239, 255, 0.795),rgba(153, 146, 255, 0.486)); 
 }
 
  
  .subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
  }
  
  .containerCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .Title {
    font-size: 80px;
    font-weight: 500;
    margin: 80px 0px -30px 0px;
    position: relative;
    bottom: 50px;
    margin-bottom: 40px;
    margin-left: 380px;
  }
  .SubTitle {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: -48px;
    margin-bottom: 10px;
    margin-left:450px;
  }

  .suspendido{
    margin-left:480px;
    margin-top: 18px;
    margin-bottom: 40px;

}


.button{
    text-decoration: none;
    --color: #260e4afb;
    font-family: inherit;
    display: inline-block; 
    width: 15em;
    height: 2.8em;
    line-height:3em;
    text-align: center;
    margin: 10px auto; 
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 2px 2px 5px black;
    /*margin-left: 15em;*/ 
}

.button:before{
    content: "";
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to right, rgb(19, 13, 102), rgb(58, 75, 167),rgb(13, 8, 77));
    height: 180px;
    width: 280px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all .7s;
}
.button:hover{
    color: #e8e8e8;
    border-color: #430c78 ;
}

.button:hover:before{
    top: -80px;
    left: -20px;
}

  
  @media only screen and (max-width: 1042px) {
    .containerCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
    .Title {
      font-size: 80px;
      margin-bottom: -18px;
    }
    .SubTitle {
      font-size: 20px;
      margin-left: 5px;
    }
  }
  
  @media only screen and (max-width: 690px) {
    .subcontainer {
      justify-content: center;
      align-items: center;
    }
    .Title {
      text-align: center;
      font-size: 40px;
      margin-bottom: 0px;
    }
    .SubTitle {
      text-align: center;
      font-size: 14px;
      width: 90%;
    }
  }