
.perfil{
    width: 100%;
    background-image: linear-gradient( to right, rgba(153, 146, 255, 0.486), rgba(208, 234, 255, 0.555),rgba(211, 239, 255, 0.795),rgba(153, 146, 255, 0.486));
    
}
.firstCont{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgb(224, 221, 221);
}
.profile{
   
    display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
}
.allInfoContainer{    
    border-radius: 10px 10px 0px 0px;   
    margin-top: 2%;
    width: 70%;
}
.mainPicture{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 300px;    
    object-fit: cover;
    background-color: rgb(93, 93, 99);
    margin-bottom: none;
    
}
.secondPicture{
    border: 3px solid white;
    margin-left: 2%;
    margin-top: 220px;
    width: 12%;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}
.infoContainer{
    margin-top: none;
    padding-top: none;
    background-color: rgb(255, 255, 255);
    width: 100% ;
    height: 100px;
    display: grid;
    grid-template-columns: 65% 35%;
    
}

.userNameCont{
  
    margin-left: 200px;
    width: 60%;
   
    
}

.userName{
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.modifyIcon{
    width: 20px;
}
.buttonContainer{
    margin-top:12% ;
    
}
.detalle{
    
    margin-top: 2%;
    width: 100%;
    /* background-color: blue; */
}
.tipoDetalle{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgb(224, 221, 221);
    width: 100%;
    display: grid;
    grid-template-columns:  25% 25% 25% 25% ;
    background-color: rgb(255, 255, 255);
    height: 52px;    
}
.btn{
    all:unset;
    display: flex;
    align-content: center;
   align-items: center;
   justify-content: center;
    height: 50px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(229, 237, 245);
}
.detalleInfo{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10%;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgb(224, 221, 221);
}

.detInf{
    margin: 1%;
    width: 98%;
    height: 94%;
    
}
.selectedDetalle{
    border-bottom:  3px solid rgb(36, 35, 35);
    
    
    
}
.configurarCuenta{
    
    display: block;
    width: 100%;
    height: 100%;    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;   
    background-repeat:no-repeat;
    background-position: center;
    background-color: rgba(80, 77, 77, 0.6);
    overflow-x: hidden;  
   
}

.noConfigurar{
    width: 0%;
    display: none;
}

.ou{
    display: none;
}

.detInfdetInf4{
    width: 90%;
    padding: 20px;
   
}
.nameApellido{
    color: rgb(92, 91, 91);
}
.optPerf{
    all:unset;
    
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    margin-left: 20%;
    margin-top: 14px;
    width: 60%;
    height: 80px;
    font-size: 18px;
    cursor: pointer;   
     border: 0.5px solid rgb(124, 122, 122,0.4);
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 5px 0px inset, rgba(0, 0, 0, 0.15) 0px -2px 1.5px 0px inset;
}
.optPerf:hover{
    color: aliceblue;
    background-color: rgb(19, 13, 102);
    width: 56%;
    margin-left: 22%;
    height: 70px;
    margin-top: 24px;
}

.configOpCont1{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.configOpCont2{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.confContRigth{
    height: 160px ;
    width: 90%;

    border-bottom: 0.5px solid rgb(124, 122, 122 ,0.4);
    border-top: 0.5px solid rgb(114, 112, 112,0.4);
    border-right: 0.5px solid rgb(124, 122, 122,0.4);
    border-radius: 8px;
}

.confOn{
    border: none;
    border-bottom:0.5px solid rgb(124, 122, 122,0.4); 
    border-top: 0.5px solid rgb(114, 112, 112,0.4);
    border-left:0.5px solid rgb(114, 112, 112,0.4);
}